*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.background{
  width: 100%;

}

.logo{
  font-size: 40px;
  font-weight: bold;
  color: green;
  margin: 10px auto;
  padding: 10px;
  width: 700px;
}

.chairs {
  display: block;
}

.seat-row{
  display: block;  
  margin: 10px;
}

.chair{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: inline-block;
}
.chair--state-free{
  background-image: url("../images/free-chair.png");
  text-align: center;
  
}

.chair--state-busy{
  background-image: url("../images/busy-chair.png");
  text-align: center;
}

.chair--state-booked{
  background-image: url("../images/booked-chair.png");
  text-align: center;
}

.timetable-row{
  width: 700px;
  height: 50px;
  margin: 10px auto;
  padding: 10px;
  background-color: azure;
  overflow: hidden;
}

.movie-name, .movie-hall, .movie-time{
  height: 40px;  
  margin: 10px 10px;
  overflow: hidden;
}

.movie-name {
  width: 400px;  
  float: left;  
}

.movie-hall{
  width: 50px;
  float: right;
}

.movie-time{
  width: 150px;
  float: left;
}