*{  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.chair{
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;  
}

.chair--state-free{
  background-image: url("../images/free-chair.png");
}

.chair--state-free:hover{ 
  opacity: 0.6;
}

.chair--state-booked:hover{
  opacity: 0.4;
}

.chair--state-busy{
  background-image: url("../images/busy-chair.png"); 
}

.chair--state-booked{
  background-image: url("../images/booked-chair.png");  
}
